.custom-modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    &.custom-modal-open{
        background-color: rgba(0,0,0, .6);
        overflow-x: hidden;
        overflow-y: auto;
        display: block;
    }
    .modal-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: calc(100% - (1.75rem * 2));
        max-width: 700px;
        margin: 1.75rem auto;
        position: relative;
        width: auto;
        pointer-events: none;
    }
    .modal-content{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 95%;
        pointer-events: auto;
        background-color: var(--white);
        background-clip: padding-box;
        border: 1px solid rgba(179, 179, 179, 0.2);
        border-radius: 5px;
        outline: 0;
        &.show{
            animation: fadeIn .3s ease-in-out 1;
        }
        &.hide{
            animation: fadeOut .3s ease-in-out 1;
        }
    }
    @keyframes fadeIn{
        from{
            opacity: 0;
            transform: translateY(150px);
        }
        to{
            transform: translateY(0);
            opacity: 1;
        }
    }
    @keyframes fadeOut{
        from{
            transform: translateY(0);
            opacity: 1;
        }
        to{
            opacity: 0;
            transform: translateY(150px);
        }
    }
    .modal-close-container{
        text-align: right;
        padding: 10px;
    }
    .modal-close{
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: bold;
        padding: 7px;
        cursor: pointer;
    }
    .modal-header{
        padding: 20px;
    }
    .modal-header h6{
        margin-bottom: 0;
    }
    .modal-body{
        padding: 0 20px 20px 20px;
    }
    .modal-footer{
        padding: 0 20px 20px 20px;
    }
}